body {
	background-color: #888888;
	text-align: center;
	font-family: "georgia";
    font-size: 2em;
    background-image: url('../images/old_map.png');
    background-size: contain;
}

.mybtn{
	display: table-cell;
	width: 30%;
}

table {
	background-color: lightgreen;
	color: white;
	box-shadow: 3px 3px 2px #888;
	text-align: center;
	width: 100%;
	display: table-cell;
}

tr{
	height: 2.5em;
	font-family: sans-serif
	/*display: table-cell;*/
}

.footer{
	width: 99%;
	height: 10%;
	bottom: 0.5em;
	position: fixed;
    vertical-align: center;
}

.toDelete{
	width:80%;
}

.lsitCheckBox{
	 padding-left: 2px;
    padding-right: 2px;
    margin: 5px;
    height: 3em;   
    width: 3em;
}

.toPlot{
	width:80%;
}