body {
	text-align: center;
	font-family: "georgia";
	font-size: 2em;
    background-image: url('../images/green_dust_scratch.png');
}

.footer{
	width: 100%;
	height: 10%;
	bottom: 0.5em;
    vertical-align: center;
}

.toDelete{
	width:80%;
}

.toPlot{
	width:80%;
}

#name{
	width: 100%;
}

#Edesc{
	width: 100%;
}